<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório</title>
    <style type="text/css">
      body {
        font-family: "Courier New", Courier, monospace;
      }
      table {
        width: 100%;
      }
      th {
        text-align: left;
      }
      .in {
        color: green;
      }
      .out {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Relatório de <%= month %>/2022</h1>
    <p>
      Conta: <%= account %> <br />
      Início do mês: R$<%= total %> <br />
    </p>
    <hr />
    <table>
      <tr>
        <th>Data</th>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Valor</th>
        <th>Saldo</th>
      </tr>

      <% for(let i = 0; i < transactions.length; i++) { %> <% total = total -
      transactions[i].value %>
      <tr class="<%= transactions[i].type == 'CREDIT' ? 'in' : 'out' %>">
        <td><%= transactions[i].date %></td>
        <td><%= transactions[i].description %></td>
        <td><%= transactions[i].category.description %></td>
        <td>R$<%= transactions[i].value %></td>
        <td>R$<%= total %></td>
      </tr>
      <% } %>
    </table>
    <hr />
    <p>Final do mês: R$<%= total %></p>
  </body>
</html>
